#container {
  width: 98%;
  height: 98%;
  margin: 0 auto;
}

#decrement {
  margin-right: 20px;
  display: inline-block;
}
.jsavexercisecontrols {
  display: inline-block;
}

.jsavtree {
  top: -30px;
}

.jsavline {
  height: 45px;
  margin: 0 0 0 20px;
}
